/*main 페이지*/
* {
  box-sizing: border-box;
}
/*body 서식 설정*/
body {
  font-family: Arial;
  padding: 10px;
  background-color: f2f2f2;
}
/* 메뉴 바 */
.topnav {
  overflow: hidden;
  background-color: #333;
}
/* topnav, show page title on the left side */
.topnav a {
  float: left;
  display: block;
  color: #f1f1f1;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* topnav, show main page menu buttons on the right side */
.topnav b {
  float: right;
  display: block;
  color: #f1f1f1;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* Change color on hover */
.topnav b:hover {
  background-color: #ddd;
  color: black;
}
/* column 서식*/
.column {
  float: left;
  padding: 10px;
}
/* Left and right column */
.column.left {
  width: 30%;
}
/* Middle column */
.column.middle {
  width: 70%;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}
/*사이즈 자동 조절*/
img {
  max-width: 100%;
  height: auto;
}
.footer {
  background-color: #333;
  color: #f2f2f2;
  text-align: center;
  padding : 0.1px;
}
/*column left list outline 서식*/
div.table_style_left{
 	max-width: 100%;
 	height: 206px;
    border:2px solid #e6e6e6;
  	border-radius:0.5em;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    position:relative;
    padding-top:3px;
    }
li.table_style_left {
	max-width: 100%;
    height: 50px;
    border-bottom: 2px solid #e6e6e6;
    padding : 15px 0px 10px 20px;
}
li.table_style_left_head {
	max-width: 100%;
    height: 30px;
    border:none;
    padding : 15px 0px 10px 20px;
}
li.table_style_left_tail {
	max-width: 100%;
    height: 50px;
    border:none;
    padding : 15px 0px 10px 20px;
}
/*column left list 내부 리스트(글자) 서식*/
ul.table_style_left {
	clear: left;
    margin: 0;
    padding : 0px 0px 0px 0px; /*위 왼 아래 오*/
    list-style-type: none;
	}
/*column middle list outline 서식*/
div.table_style_middle{
 	max-width: 100%;
 	height: 430px;
    border:2px solid #e6e6e6;
  	border-radius:0.5em;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    position:relative;
    }
li.table_style_middle {
	max-width: 90%;
    margin: 0px 20px;
    height: 100px;
    border-bottom: 2px solid #e6e6e6;
    padding : 10px 0px 10px 0px;
}
li.table_style_middle_head {
	max-width: 100%;
    height: 20px;
    border-bottom:2px solid #e6e6e6;
    padding : 0px 0px 30px 20px;
}
li.table_style_middle_tail {
	max-width: 100%;
    height: 30px;
    border-top:none;
    padding : 0px 0px 20px 20px;
}
/*column left list 내부 리스트(글자) 서식*/
ul.table_style_middle{
	clear: left;
    margin: 0;
    padding : 0px 0px 0px 0px; /*위 왼 아래 오*/
    list-style-type: none;
	}
/*column left 링크 서식*/
a.columnleft:link{
  color : #3399ff;
  text-decoration: none;
}
a.columnleft:unvisited {
  color : #3399ff;
  text-decoration: none;
}
a.columnleft:hover{
  color: #003399;
  text-decoration: underline;
}
a.columnleft:active{
  color:#003399;
  text-decoration: underline;
}
/*column middle 링크 서식*/
a.column.middle:link{
  color:#ff6600;
  text-decoration: none;
}
a.column.middle:unvisited{
  color:#ff6600;
  text-decoration: none;
}
a.column.middle:hover{
  color:#5900b3;
  text-decoration: underline;
}
a.column.middle:active{
  color:#ff6600;
  text-decoration: underline;
}
p.column.middle{
  color:gray;
  font-size:80%
}
/*글쓰기 버튼*/
a.button1:link, a.button1:visited {
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: green;
  border-radius:0.5em;
  margin:0px 5px;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
}
a.button1:hover, a.button1:active {
  background-color: green;
}
/*삭제 버튼*/
a.button2:link, a.button2:visited {
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: red;
  border-radius:0.5em;
  margin:0px 5px;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
}
a.button2:hover, a.button2:active {
  background-color: red;
}