/*main 페이지*/
* {
  box-sizing: border-box;
}
/*body 서식 설정*/
body {
  font-family: Arial;
  padding: 10px;
}
/* 메뉴 바 */
.topnav {
  overflow: hidden;
  background-color: #333;
}
/* topnav, show page title on the left side */
.topnav a {
  float: left;
  display: block;
  color: #f1f1f1;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* topnav, show main page menu buttons on the right side */
.topnav b {
  float: right;
  display: block;
  color: #f1f1f1;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* Change color on hover */
.topnav b:hover {
  background-color: #ddd;
  color: black;
}
/* column 서식*/
.column {
  float: left;
  padding: 10px;
}
/* Left and right column */
.column.left {
  width: 30%;
}
/* Middle column */
.column.middle {
  width: 70%;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}
/*사이즈 자동 조절*/
img {
  max-width: 100%;
  height: auto;
}
.footer {
  background-color: #333;
  color: #f2f2f2;
  text-align: center;
  padding : 0.1px;
}
/*column left list outline 서식*/
div.table_style_left {
 	max-width: 100%;
 	height: auto;
  border:2px solid #e6e6e6;
  border-radius:0.5em;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  position:relative;
  padding-top:3px;
  }
div.table_style_left li {
	max-width: 100%;
  height: 50px;
  border-bottom: 2px solid #e6e6e6;
  padding : 15px 0px 10px 20px;
}
/*column left list 내부 리스트(글자) 서식*/
div.table_style_left ul {
	clear: left;
  margin: 0;
  padding : 0px 0px 0px 0px; /*위 왼 아래 오*/
  list-style-type: none;
}
/*column left list outline 서식*/
div.table_style_middle {
  max-width: 100%;
  height: auto;
  border:2px solid #e6e6e6;
  border-radius:0.5em;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  position:relative;
  padding-top:3px;
   }

/*column left list 내부 리스트(글자) 서식*/
#post_title.div.table_style_middle li{
	max-width: 100%;
  height: 80px;
  border-bottom: 2px solid #e6e6e6;
  margin : 20px;
  padding : 5px 5px 10px 5px;
  }

div.table_style_middle ul{
  max-width: 100%;
  height: auto;
	clear: left;
  margin: 0;
  padding : 0px 0px 0px 0px; /*위 왼 아래 오*/
  list-style-type: none;
  }

#title{
  max-width: 100%;
  height: 40px;
  border:2px solid #e6e6e6;
  background-color:  #e6e6e6;
  border-radius:0.5em;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  position:relative;
  padding:10px 20px 20px 10px;
  font-size: 16px;
}

.table_style_middle a#post_title{
	max-width: 100%;
  height: 100px;
  padding:15px 10px 10px 10px;
  margin : 20px;
  font-size: 16px;
  color: orange;
  }

.table_style_middle a{
  max-width: 100%;
  height : ayto;
  font-size: 13px;
  color: gray;
  }

/*column left 링크 서식*/
div.table_style_left a:link, a:visitied{
  color: #4da6ff;
  text-decoration: none;
}
div.table_style_left a:hover, a:active{
  color: #003399;
  text-decoration: underline;
}
/*column middle 링크 서식*/
div.table_style_middle a#post_title:link, a#post_title:visited, a#post_title:active{
  color:#ff6600;
  text-decoration: none;
}

div.table_style_middle a#post_title:hover{
  color:#5900b3;
  text-decoration: underline;
}

/*글쓰기 버튼*/
#button1:link, #button1:visited {
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: green;
  border-radius:0.5em;
  margin:0px 5px;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
}
#button1:hover, #button1:active {
  background-color: green;
}
/*삭제 버튼*/
#button2:link, #button2:visited {
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: red;
  border-radius:0.5em;
  margin:0px 5px;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
}
#button2:hover, #button2:active {
  background-color: red;
}

div#post_detail.table_style_middle{
  max-width: 100%;
  height: auto;
  padding: 10px;
  border: none;
}
p#post_title {
  max-width: 100%;
  height: auto;
  margin : 3px;
  padding : 5px 5px 3px 5px;
  font-size: 30px;
  /*padding : */
}

p#post_user_name{
  max-width: 100%;
  height: auto;
  margin: 3px;
  padding : 5px;
  font-size: 17px;
  color: #4da6ff;
}

p#post_reg_date{
  max-width: 100%;
  height: auto;
  margin: 3px;
  padding : 5px;
  font-size: 15px;
  color: #999999;
}
p#post_content{
  max-width: 100%;
  height: auto;
  margin: 3px;
  padding : 5px;
  font-size: 17px;
  color: #999999;
}

p#post_reg_ip{
  max-width: 100%;
  height: auto;
  margin: 3px;
  padding : 5px;
  font-size: 15px;
  color:#999999;
}

table#writepost{
  max-width: 100%;
  height: auto;
  margin: 3px;
}

.column.middle caption{
  max-width: 200px;
  height: auto;
  margin: 3px;
}

input#textbox{
  max-width: 200px;
  height: 30px;
  margin: 3px;
}
